# Automatically assign reviewers
* @xy-69-yx

# Contracts
live-poll-contract/ @xy-69-yx
*.rs @xy-69-yx

# Website
live-poll-website/ @xy-69-yx
*.jsx @xy-69-yx
*.js @xy-69-yx

# CI/CD
.github/ @xy-69-yx
Makefile @xy-69-yx
.pre-commit-config.yaml @xy-69-yx
